/* Body background and font */
body {
  background-color: #121212;
  font-family: 'Arial', sans-serif;
  color: #fff;
  margin: 0;
  padding: 0;
}

/* Card Shadow for Professional Look */
.card {
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.3);
  transition: transform 0.3s ease;
  padding-top: 3rem; /* Increase spacing for top */
  padding-bottom: 3rem; /* Increase spacing for bottom */
}

.card:hover {
  transform: scale(1.05);
}

/* Header Styling */
header {
  display: flex;
  justify-content: center;
  background-color: #1a1a1a;
  padding: 1rem 0;
}

header span {
  font-size: 1.2rem;
  font-weight: bold;
  color: white;
  display: flex;
  align-items: center;
}
header span:hover {
  background-color: #333;
  border-radius: 5px;
  padding: 0.3rem 0.6rem;
}